In [1]:
! [ -e /content ] && pip install -Uqq fastbook
import fastbook
fastbook.setup_book()
from fastbook import *
from fastai.collab import *
from fastai.tabular.all import *

     |████████████████████████████████| 719 kB 4.9 MB/s
     |████████████████████████████████| 365 kB 57.2 MB/s
     |████████████████████████████████| 1.2 MB 53.5 MB/s
     |████████████████████████████████| 4.7 MB 58.6 MB/s
     |████████████████████████████████| 212 kB 72.9 MB/s
     |████████████████████████████████| 115 kB 59.7 MB/s
     |████████████████████████████████| 101 kB 14.1 MB/s
     |████████████████████████████████| 141 kB 75.9 MB/s
     |████████████████████████████████| 596 kB 73.0 MB/s
     |████████████████████████████████| 127 kB 77.1 MB/s
     |████████████████████████████████| 6.6 MB 51.0 MB/s
Mounted at /content/gdrive

In [2]:
path = untar_data(URLs.ML_100k)
Path.BASE_PATH = path

path.ls().sorted()

(#23) [Path('README'),Path('allbut.pl'),Path('mku.sh'),Path('u.data'),Path('u.genre'),Path('u.info'),Path('u.item'),Path('u.occupation'),Path('u.user'),Path('u1.base')...]

In [3]:
ratings = pd.read_csv(path/'u.data', delimiter='\t', header=None,
                      names=['user', 'movie', 'rating', 'timestamp'])
ratings.head()

   user  movie  rating  timestamp
0   196    242       3  881250949
1   186    302       3  891717742
2    22    377       1  878887116
3   244     51       2  880606923
4   166    346       1  886397596

In [8]:
movies = pd.read_csv(path/'u.item', delimiter='|',
                     encoding='latin-1', usecols=(0,1),
                     names=('movie','title'), header=None)

movies.head()

   movie              title
0      1   Toy Story (1995)
1      2   GoldenEye (1995)
2      3  Four Rooms (1995)
3      4  Get Shorty (1995)
4      5     Copycat (1995)

In [10]:
ratings = ratings.merge(movies)

ratings.head()

   user  movie  rating  timestamp         title
0   196    242       3  881250949  Kolya (1996)
1    63    242       3  875747190  Kolya (1996)
2   226    242       5  883888671  Kolya (1996)
3   154    242       3  879138235  Kolya (1996)
4   306    242       5  876503793  Kolya (1996)

Por padrão, ao criar um Dls a partir de uma tabela do pandas, a primeira coluna é o user, e segunda coluna seria o item, e terceira a ratings. Vamos alterar o valor de item_name para usar title invés do movie_id:

In [11]:
dls = CollabDataLoaders.from_df(ratings, item_name='title', bs=64)
dls.show_batch()